---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

let { class: className = '', overlay = false, overlayColor = '' } = Astro.props;

interface Props {
	class?: string;
	image: string;
	alt: string;
	overlay?: boolean;
	overlayColor?: string;
}

const { image, alt } = Astro.props;
const images = import.meta.globEager<{ default: ImageMetadata }>(
	'/src/assets/images/*.{jpeg,jpg,png,gif}'
);

const imagePath = `${image}`;

if (!images[imagePath])
	throw new Error(
		`"${imagePath}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif}"`
	);
---

<div class={`${className} relative`}>
	<Image
		class="h-full w-full object-cover object-center"
		src={images[imagePath].default}
		alt={alt}
	/>
	<!-- Overlay -->
	<!-- <div class="absolute w-full h-full top-0 left-0 bg-black">

  </div> -->
	{
		overlay && (
			<div class={`absolute left-0 top-0 h-full w-full ${overlayColor}`} />
		)
	}
</div>
